<html>
<head>
	<style type="text/css">
		.sidenav {
			height:100%;
			width:260px;
			position: fixed;
			z-index:1;
			top:0;
			left:0;
			background-color:#111;
			overflow-x: :hidden;
			padding-top:20px;
		}

		.sidenav a {
			padding:6px 8px 6px 16px;
			text-decoration: none;
			font-size:25px;
			color: #818181;
			display:block;
		}

		.sidenav a:hover{
			color:#f1f1f1;
		}

		.main{
			margin-left:160px;
			padding: 0px 10px;
		}

	</style>
	<title>{% block title %}SavSha{% endblock %}</title>
</head>

<body>
	<div class="sidenav">
        <a href="/category" >category</a>
        <a href="/test" >TEST</a>
        <a href="/home" >HOME</a>
        <a href="/login" >LOGIN</a>
        <a href="/register" >REGISTER</a>
        <a href="/admin" >ADMIN</a>
		<a href="/new_content">New Content</a>
	</div>

	{% block content %}
	{% endblock %}
</body>
</html>