{% extends 'main/base.html' %}
{% block title %} SavSha {% endblock %}

{% block content %}
<html>
  <head>
    <script src="jquery.js"></script>
    <script>
    $(function(){
      $("#includedContent").load("main/sidebar.html");
    });
    </script>
  </head>

  <body>
     <div id="includedContent"></div>
  </body>
</html>
<div id="content" style="float:left; width:160px; margin-left:260px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info" onclick="">
                <span>Toggle Sidebar</span>
            </button>

        </div>
    </nav>
</div>
<div style="background-color:#EC8C77; float:left">
   <label for="photo">Choose a photo!</label>

<input
  type="file"
  id="photo"
  name="photo"
  accept="image/*">

</div>
<b