{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
<title>{% block title %}SavSha{% endblock %}</title>
{% block content %}
<html>
<body>
<div style="margin-left:260px">
    <h2>Connections</h2>

    <form method="POST">
        {% csrf_token %}
            {{form}}
        <input type="text" id="search_user" name="search_user" placeholder="Search...">
        <button style="margin:10px" class="btn btn-primary" type="submit">Search User</button>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
<div style="width: 55%; margin-left:260px">
{% for users in all_users.all %}
    <br>
    <p> <a style="color:red">Special Number : </a>{{ users.id}}</p>
    <p> <a style="color:red">Name : </a>{{ users.first_name }}</p>
    <p> <a style="color:red">Surname : </a>{{ users.last_name }}</p>
    <p> <a style="color:red">Email : </a>{{ users.email }}</p>
    <form method="POST">
        {% csrf_token %}
            <button type="submit" name="add" value="{{users.id}}" class="btn btn-primary btn-sm">Add Friend</button>
            <button type="submit" name="remove" value="{{users.id}}" class="btn btn-primary btn-sm">Remove Friend</button>
    </form>
    <hr>
    {% endfor %}
</div>
</body>
</html>

{% endblock %}