{% extends 'main/base.html' %}
{% block title %} SavSha {% endblock %}

{% block content %}
<html>
<body style="margin-left:350px; margin-top:80px">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="margin:10px">Title</div>
        <input style="width: 80%; height:30px;" type="text" name="title" placeholder="Enter maximum 150 characters"/><br/>
        <div style="margin:10px">Message</div>
        <input style="width: 80%; height:30px;" type="text" name="message" placeholder="Enter maximum 1000 characters"/><br/>
        <div style="margin:10px">Address</div>
        <input style="width: 80%; height:30px;" type="text" name="address" placeholder="Enter maximum 1000 characters"/><br/>
        <div style="margin:10px">Labels</div>
        <input style="width: 80%; height:30px;" type="text" name="labels" placeholder="Seperate lapels with comma and Enter maximum 1000 characters"/><br/>
        <div style="margin:10px; color:red"></div>
        <input type="submit" value="Add Content"/>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
{% endblock %}